@import "@styles/base";
$swiper-height: 2rem;

.swiper {
  position: absolute;
  bottom: 0;
  background-color: transparent;
  width: 100%;
  height: $swiper-height;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &-pill {
    border-radius: 1rem;
    height: 0.75rem;
    width: 50%;

    border: 0.5px solid #efefef;
    background-color: #efefef;
  }
}
