@import "@styles/base";

.root {
  border: $device-border solid black;
  max-width: 27rem;
  background-color: black;
  border-radius: 3rem;
  display: flex;
  max-height: 90vh;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  position: relative;
}
.screen {
  width: 100%;
  aspect-ratio: 9/16;
  flex-direction: column;
  display: flex;
  border-radius: 2.7rem;
  overflow: hidden;
}
.content {
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  @include hide-scrollbar();
}
