@import "@orchestator/styles/theme";
.wrapper {
  border: $device-border solid black;
  max-width: 27rem;
  background-color: black;
  border-radius: 3rem;
  display: flex;

  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
  aspect-ratio: 9/18;
  min-width: 29rem;
  &::before {
    content: "";
    position: absolute;

    height: calc(100% + 0.8rem);
    width: calc(100% + 0.8rem);
    border-radius: 2.5rem;
    border-width: 1.75px 2px 1.75px 2px;
    border-style: solid;
    border-color: #fafafaad;

    //left: calc(#{$device-border} * -1);
    top: 50%;
    transform: translateY(-50%);

    left: -0.45rem;
    &::before {
      content: "";
    }
  }
}
